.ticket {
    background: linear-gradient(to bottom, #0ea3ef, #00e1ff);
    width: 80%;
    height: 75vh;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 5px white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.247);
    transition: 500ms;
}

.titre-jeu {
    font-size: 2.4em;
    color: white;
    margin-bottom: 60px;
    height: 40px;
}

.btn-play {
    border: none;
    padding: 1rem 2rem;
    margin-bottom: 60px;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn-play:hover,
.btn-play:focus {
    background: #0053ba;
}

.btn-play:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.btn-play:active {
    transform: scale(0.99);
}

.zone {
    position: relative;
    margin-top: 60px;
}

.canvas {
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

.canvas-disabled {
    z-index: 1;
    position: absolute;
}

.zone-grattage {
    width: 750px;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

.case {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #0069ed;
    background: linear-gradient(45deg, #feffff, #e4fbff);
}

.case span {
    font-size: 1.4em;
    font-weight: bold;
    background: white;
    color: #0069ed;
    border: solid 2px #0069ed;
    padding: 20px;
}