.container-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72px;
    background: linear-gradient(to bottom, #0ea3ef, #00e1ff);
    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
}

.container-layout > ul {
    padding: 0px;
    margin: 0px;
}

.container-layout > ul > li {
    list-style-type: none;
    font-size: 0.8em;
    width: 72px;
    height: 72px;
    display: inline-block
}

.btn {
    text-decoration: none;
    color: white;
    padding: 16px 0 14px;
    outline: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container-layout > ul > li :hover {
    background-color: #0092db;
}

.icons {
    width: 27px;
    height: 27px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .container-layout {
        top: 80px;
    }
}